---

---

<header class="bg-[#234338] h-[64px]">
  <div class="flex items-center  lg:px-20 md:px-8 px-4 h-full "  style="margin: auto !important;max-width: 1200px;">
    <!-- container px-5  mx-auto md:px-4 flex justify-start items-center -->
    <a href="/" class="flex items-center">
      <img
        src="/assets/logo/color.svg"
        alt="Nutra24"
        class="h-6 sm:h-8 md:h-9 lg:h-10 max-w-[164px] max-h-[38px] w-auto"
        width="164"
        height="38"
        loading="eager"
        decoding="async"
        fetchpriority="high"
      />
    </a>
  </div>
</header>

